.text-align-center {
	text-align: center;
}


.og-price {
	color:red;
	text-decoration:line-through;
}

.fa-navbar-cart {
	font-size: 18px;
    vertical-align: middle;
}


.container-alert-flash {
	position: absolute;
    top: 10px;
    z-index: 50000;
    width: 100%;
    right: 0%;
    margin: 0px;
    display:none;
}